@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  background-color: #fdf6e3; /* Solarized base3 */
  font-family: "Helvetica", "Arial", sans-serif;
  color: #586e75;      /* Solarized base00 */
  
  /* Container styles applied to all pages */
  width: 90%;
  margin: 1em auto; /* Centers the container */
  padding: 2rem;
  border: 10px solid #268bd2; /* Solarized blue */
  box-sizing: border-box; /* Ensures padding/border are part of the width */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: normal;
  color: #268bd2;
  text-transform: uppercase;
  letter-spacing: 0.0625em; /* Changed from 1px for scalability */
}

p {
  font-size: 1em; /* Changed from 1rem to em as requested */
  line-height: 1.6;
  font-style: italic;
  color: #657b83;
}

.highlight-box {
    background-color: #eee8d5;
    border-left: 5px solid #2aa198;
    padding: 0.9375em;
    margin: 1.25em 0;
}

p.special-text {
    font-size: 1.1em;
    font-style: normal;
    text-align: center;
    color: #d33682;
}

nav ul {
    list-style-type: none;
    padding: 0.625em 0;
    margin: 0;
    background-color: #eee8d5;

    /* Responsive Flexbox styles added */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Helps if you add more links */
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #586e75;
    padding: 0.625em 1.5625em;
    margin: 0 0.5em;
    border-radius: 3.125em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
    background-color: #cb4b16;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  body {
    width: 100%;
    margin: 0;
    border: none;
    padding: 1rem;
  }

}
